.card {
  position: relative;
  width: 350px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card-image img {
  width: 380px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
}

.arrow-shape {
  background: #000000;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  padding: 80px 10px 20px 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.8s ease;
  color: #fff;
}

.arrow-shape {
  text-align: center;
  font-size: 1rem;
  padding-top: 50px;
  margin: 0;
}

.arrow-shape .hidden-text {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  font-size: 1rem;
  line-height: 1.2rem;
}

.arrow-shape:hover {
  transform: translateY(2px);
  padding-top: 100px;
}

.arrow-shape:hover .hidden-text {
  max-height: 400px;
  opacity: 1;
  padding-top: 20px;
  margin: 0;
}

.arrow-down::after {
  content: "▼";
  font-size: 20px;
  padding-top: 100px;
  color:  #ff5e00;
}