

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: #7CB9E8;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 100;
  text-align: left;
  font-size: 3.5rem;
  color: #ffffff;
  text-align: center;
}

/* Section d’introduction */
.sectionblocintro {
  margin: 20px 0;
  background-color: #ffffff;
  margin-bottom: 60px;
}

.intro {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  animation: fadeIn 1.5s ease-in-out;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.intro p {
  padding-top: 100px;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.introboldsavoirfaire p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 800;
  color: #0D99FF;
  text-align: center;
  padding-bottom: 100px;
}

/* card avec deploiement */
.experience {
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  padding: 0px;
  max-width: 600px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.exp-1,
.exp-2,
.exp-3,
.exp-4,
.exp-5,
.exp-6 {
  background-color:#ffffff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  padding: 2rem;
  border-radius: 12px;
}

.experience h3 {
  color: #3949ab;
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  text-align: center;
}

.experience h4 {
  color:#3949ab;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.experience h5 {
  color:#ff0000;
  margin: 0.3rem 0;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
}

/* Le paragraphe est caché au départ */
.experience p {
  font-size: 1rem;
  line-height: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin: 0;
  opacity: 0;
}

/* Quand la card est survolée, on dévoile le paragraphe */
.experience:hover p {
  max-height: 500px; /* Valeur grande pour tout contenir */
  opacity: 1;
  margin-top: 15px;
}

.experience:hover {
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
  transform: translateY(5px);
}



@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.8rem;
    text-align: center;
  }

  .intro p,
  .introbold p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 10px;
  }

  .conteneurblocs {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .textbloc {
    padding: 10px;
  }

  .textbloc p {
    font-size: 0.95rem;
    line-height: 1.4rem;
  }

  .experience {
    max-width: 90%;
    padding: 1rem;
  }

  .experience h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}