* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: #FF6B35;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/* Style pour la section d’introduction */
.sectionblocintro {
  margin: 20px 0;
  background-color: #ffffffd2;
  margin-bottom: 60px;
}

.intro {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 5px;
  animation: fadeIn 1.5s ease-in-out;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.intro p {
  padding-top: 30px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.introbold p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  color: #ff5e00;
  text-align: center;
  padding-bottom: 30px;
}